*.idea
*~
*__pycache__*
*.pyc
*.pytest_cache
*.ipynb_checkpoints/
/pytracking/results/
/pytracking/VOT/*workspace/

/ltr/actors/fusionnet.py
/ltr/actors/scale_estimator.py
/ltr/actors/verifynet.py

/ltr/models/bbreg/iou_net.py
/ltr/models/bbreg/SEnet.py
/ltr/models/fusionnet/
/ltr/models/target_classifier/features_add.py
/ltr/models/verifynet/
/ltr/models/utils.py

/ltr/train_settings/endimp/
/ltr/train_settings/fudimp/
/ltr/train_settings/FusionNet/
/ltr/train_settings/VerifyNet/

/pytracking/analysis/utils/

/pytracking/parameter/endimp/
/pytracking/parameter/fudimp/
/pytracking/parameter/rvt/

/pytracking/tracker/endimp/
/pytracking/tracker/fudimp/
/pytracking/tracker/rvt/