*__pycache__*
*.idea
/pytracking/results/
/ltr/models/target_classifier/features_add.py
/pytracking/analysis/analyze_results_add.py
/pytracking/experiments/myexperiments_add.py
/pytracking/analysis/my_utils/
/pytracking/VOT/*workspace/

/ltr/actors/fusionnet.py
/ltr/actors/verifynet.py
/ltr/data/processing.py
/ltr/data/processing_utils.py
/ltr/dataset/tmp/
/ltr/external/
/ltr/models/attention/
/ltr/models/fusionnet/
/ltr/models/tracking/endimpnet.py
/ltr/models/tracking/fudimpnet.py
/ltr/models/verifynet/
/ltr/models/utils.py
/ltr/train_settings/endimp/
/ltr/train_settings/fudimp/
/ltr/train_settings/FusionNet/
/ltr/train_settings/VerifyNet/
/ltr/readme.txt
/pytracking/parameter/endimp/
/pytracking/parameter/fudimp/
/pytracking/parameter/rvt/
/pytracking/tracker/endimp/
/pytracking/tracker/fudimp/
/pytracking/tracker/rvt/
/pytracking/pysot_toolkit/


