absl-py==2.0.0
aiobotocore @ file:///croot/aiobotocore_1682536655331/work
aiofiles @ file:///croot/aiofiles_1683773582346/work
aiohttp @ file:///croot/aiohttp_1694181079612/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
aiosqlite @ file:///croot/aiosqlite_1683773899903/work
alabaster @ file:///home/ktietz/src/ci/alabaster_1611921544520/work
anaconda-anon-usage @ file:///croot/anaconda-anon-usage_1695305080842/work
anaconda-catalogs @ file:///croot/anaconda-catalogs_1685727283692/work
anaconda-client @ file:///croot/anaconda-client_1694625250883/work
anaconda-cloud-auth @ file:///croot/anaconda-cloud-auth_1694462071362/work
anaconda-navigator @ file:///croot/anaconda-navigator_1695236675007/work
anaconda-project @ file:///work/ci_py311/anaconda-project_1676846728333/work
anyio @ file:///work/ci_py311/anyio_1676823771847/work/dist
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/ci_py311/argon2-cffi-bindings_1676823553406/work
arrow @ file:///work/ci_py311/arrow_1677696236099/work
astroid @ file:///work/ci_py311/astroid_1676920975848/work
astropy @ file:///work/ci_py311_2/astropy_1679335217840/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-timeout @ file:///work/ci_py311/async-timeout_1676826962453/work
atomicwrites==1.4.0
attributee==0.1.8
attrs @ file:///work/ci_py311/attrs_1676822758931/work
Automat @ file:///tmp/build/80754af9/automat_1600298431173/work
autopep8 @ file:///opt/conda/conda-bld/autopep8_1650463822033/work
Babel @ file:///work/ci_py311/babel_1676825020543/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
backports.functools-lru-cache @ file:///tmp/build/80754af9/backports.functools_lru_cache_1618170165463/work
backports.tempfile @ file:///home/linux1/recipes/ci/backports.tempfile_1610991236607/work
backports.weakref==1.0.post1
bcrypt @ file:///work/ci_py311/bcrypt_1676825144644/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
bidict==0.23.1
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///croot/black_1680737249031/work
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
bokeh @ file:///croot/bokeh_1690546085683/work
boltons @ file:///work/ci_py311/boltons_1677685195580/work
boto3==1.38.3
botocore==1.38.3
Bottleneck @ file:///work/ci_py311/bottleneck_1676827011612/work
brotlipy==0.7.0
cachetools==5.3.3
causal-conv1d==1.4.0
certifi @ file:///croot/certifi_1700501669400/work/certifi
cffi @ file:///work/ci_py311/cffi_1676822533496/work
chardet @ file:///work/ci_py311/chardet_1676830276092/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click @ file:///work/ci_py311/click_1676825163161/work
cloudpickle @ file:///croot/cloudpickle_1683040006038/work
clyent==1.2.2
colorama @ file:///work/ci_py311/colorama_1676827038675/work
colorcet @ file:///work/ci_py311/colorcet_1676839173519/work
coloredlogs==15.0.1
comm @ file:///work/ci_py311/comm_1677709131612/work
conda @ file:///croot/conda_1694544150384/work
conda-build @ file:///croot/conda-build_1692366767805/work
conda-content-trust @ file:///croot/conda-content-trust_1693490622020/work
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1691418897561/work/src
conda-pack @ file:///tmp/build/80754af9/conda-pack_1611163042455/work
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda-repo-cli==1.0.75
conda-token @ file:///Users/paulyim/miniconda3/envs/c3i/conda-bld/conda-token_1662660369760/work
conda-verify==3.4.2
conda_index @ file:///croot/conda-index_1695310357675/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
constantly==15.1.0
contourpy @ file:///work/ci_py311/contourpy_1676827066340/work
cookiecutter @ file:///opt/conda/conda-bld/cookiecutter_1649151442564/work
cryptography @ file:///croot/cryptography_1694444244250/work
cssselect==1.1.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///croot/cython_1702999162981/work
cytoolz @ file:///work/ci_py311/cytoolz_1676830405847/work
daal4py==2023.1.1
dask @ file:///croot/dask-core_1686782904390/work
data==0.4
datasets @ file:///croot/datasets_1684482929171/work
datashader @ file:///croot/datashader_1692372248705/work
datashape==0.5.4
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///work/ci_py311/dill_1676827712960/work
distributed @ file:///croot/distributed_1686866039819/work
docstring-to-markdown @ file:///work/ci_py311/docstring-to-markdown_1676851973684/work
docutils @ file:///work/ci_py311/docutils_1676822773036/work
dominate==2.9.1
easydict==1.13
einops==0.8.0
entrypoints @ file:///work/ci_py311/entrypoints_1676823319002/work
et-xmlfile==1.1.0
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastjsonschema @ file:///work/ci_py311_2/python-fastjsonschema_1679340124475/work
filelock @ file:///work/ci_py311/filelock_1676823024085/work
flake8 @ file:///work/ci_py311/flake8_1677709235205/work
Flask @ file:///work/ci_py311/flask_1676827140363/work
flatbuffers==24.3.25
fonttools==4.25.0
frozenlist @ file:///work/ci_py311/frozenlist_1676825229010/work
fsspec @ file:///croot/fsspec_1682525977151/work
funcsigs==1.0.2
future @ file:///work/ci_py311_2/future_1679335928186/work
gdown==4.7.1
gensim @ file:///work/ci_py311/gensim_1677033391129/work
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
gmpy2 @ file:///work/ci_py311/gmpy2_1676839849213/work
greenlet @ file:///work/ci_py311/greenlet_1676825247229/work
grpcio==1.60.0
h5py @ file:///croot/h5py_1691589708553/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///croot/holoviews_1693378042783/work
huggingface-hub @ file:///croot/huggingface_hub_1686693679113/work
humanfriendly==10.0
hvplot @ file:///croot/hvplot_1685998166135/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna @ file:///work/ci_py311/idna_1676822698822/work
imagecodecs @ file:///croot/imagecodecs_1695064943445/work
imageio @ file:///croot/imageio_1687264943895/work
imagesize @ file:///work/ci_py311/imagesize_1676830829500/work
imbalanced-learn @ file:///croot/imbalanced-learn_1685020884354/work
importlib-metadata @ file:///croot/importlib-metadata_1678997070253/work
incremental @ file:///tmp/build/80754af9/incremental_1636629750599/work
inflection==0.5.1
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///work/ci_py311_2/intake_1679336472739/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel @ file:///croot/ipykernel_1691121631942/work
ipython @ file:///croot/ipython_1694181358621/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///croot/ipywidgets_1679394798311/work
isort @ file:///tmp/build/80754af9/isort_1628603791788/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///opt/conda/conda-bld/itemloaders_1646805235997/work
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jedi @ file:///work/ci_py311_2/jedi_1679336495545/work
jeepney @ file:///tmp/build/80754af9/jeepney_1627537048313/work
jellyfish @ file:///croot/jellyfish_1695193535278/work
Jinja2 @ file:///work/ci_py311/jinja2_1676823587943/work
jinja2-time @ file:///opt/conda/conda-bld/jinja2-time_1649251842261/work
jmespath @ file:///Users/ktietz/demo/mc3/conda-bld/jmespath_1630583964805/work
joblib @ file:///croot/joblib_1685113087166/work
jpeg4py==0.1.4
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///croot/jsonschema_1678983421637/work
jupyter @ file:///work/ci_py311/jupyter_1676837039433/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///croot/jupyter_events_1684268042853/work
jupyter-server @ file:///work/ci_py311/jupyter_server_1676824947163/work
jupyter-ydoc @ file:///croot/jupyter_ydoc_1683747223142/work
jupyter_client @ file:///work/ci_py311/jupyter_client_1676823491351/work
jupyter_core @ file:///croot/jupyter_core_1679906564508/work
jupyter_server_fileid @ file:///croot/jupyter_server_fileid_1684273577568/work
jupyter_server_ydoc @ file:///croot/jupyter_server_ydoc_1686767404829/work
jupyterlab @ file:///croot/jupyterlab_1686179668131/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1679055282532/work
jupyterlab_server @ file:///croot/jupyterlab_server_1680792501448/work
kaleido @ file:///croot/python-kaleido_1689925312296/work
keyring @ file:///croot/keyring_1678999217139/work
kiwisolver @ file:///work/ci_py311/kiwisolver_1676827230232/work
lazy-object-proxy==1.10.0
lazy_loader @ file:///croot/lazy_loader_1687264084094/work
libarchive-c @ file:///tmp/build/80754af9/python-libarchive-c_1617780486945/work
libmambapy @ file:///croot/mamba-split_1694187754698/work/libmambapy
linkify-it-py @ file:///work/ci_py311/linkify-it-py_1676837069144/work
llvmlite @ file:///croot/llvmlite_1683555126642/work
lmdb @ file:///croot/python-lmdb_1682522346377/work
locket @ file:///work/ci_py311/locket_1676827274546/work
lxml @ file:///croot/lxml_1695058164555/work
lz4 @ file:///croot/lz4_1686057876374/work
mamba-ssm==2.2.2
Markdown @ file:///work/ci_py311/markdown_1676837083112/work
markdown-it-py @ file:///croot/markdown-it-py_1684279902645/work
MarkupSafe @ file:///work/ci_py311/markupsafe_1676823507015/work
matplotlib @ file:///croot/matplotlib-suite_1693812469450/work
matplotlib-inline @ file:///work/ci_py311/matplotlib-inline_1676823841154/work
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///work/ci_py311/mdit-py-plugins_1676837111662/work
mdurl @ file:///work/ci_py311/mdurl_1676827289376/work
mistune @ file:///work/ci_py311/mistune_1676823698136/work
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
more-itertools @ file:///tmp/build/80754af9/more-itertools_1637733554872/work
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack @ file:///work/ci_py311/msgpack-python_1676823037805/work
multidict @ file:///work/ci_py311/multidict_1676825314105/work
multipledispatch @ file:///work/ci_py311/multipledispatch_1676841220684/work
multiprocess @ file:///work/ci_py311/multiprocess_1676841234722/work
munkres==1.1.4
mypy-extensions @ file:///croot/mypy_extensions_1695130926492/work
navigator-updater @ file:///croot/navigator-updater_1695210188412/work
nbclassic @ file:///croot/nbclassic_1681756170010/work
nbclient @ file:///work/ci_py311/nbclient_1676823713954/work
nbconvert @ file:///work/ci_py311/nbconvert_1676823854564/work
nbformat @ file:///croot/nbformat_1694616755618/work
nest-asyncio @ file:///work/ci_py311/nest-asyncio_1676823382924/work
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1.1
nltk @ file:///croot/nltk_1688114146592/work
notebook @ file:///croot/notebook_1690984815942/work
notebook_shim @ file:///work/ci_py311/notebook-shim_1676825053954/work
numba @ file:///croot/numba_1690878269903/work
numexpr @ file:///croot/numexpr_1683221822650/work
numpy @ file:///work/mkl/numpy_and_numpy_base_1682953417311/work
numpydoc @ file:///work/ci_py311/numpydoc_1676845056742/work
onnx==1.16.1
onnxruntime==1.18.1
opencv-python==4.9.0.80
openpyxl==3.0.10
openvino==2025.3.0
openvino-telemetry==2025.2.0
ordered-set==4.1.0
packaging @ file:///croot/packaging_1693575174725/work
pandas @ file:///croot/pandas_1702317985682/work/dist/pandas-2.1.4-cp311-cp311-linux_x86_64.whl#sha256=a15c481f210e34ff91dac4944a5f8f0fe38ff2c3afa7c45ea621ff460d6f9b57
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///croot/panel_1695145879546/work
param @ file:///croot/param_1684915322283/work
parsel @ file:///work/ci_py311/parsel_1676905937880/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///croot/partd_1693937863478/work
pathlib @ file:///Users/ktietz/demo/mc3/conda-bld/pathlib_1629713961906/work
pathspec @ file:///work/ci_py311_2/pathspec_1679337288229/work
patsy==0.5.3
pep8==1.7.1
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phx-class-registry==4.1.0
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///croot/pillow_1695134008276/work
pkce @ file:///croot/pkce_1690384816590/work
pkginfo @ file:///croot/pkginfo_1679431160147/work
platformdirs @ file:///croot/platformdirs_1692205439124/work
plotly @ file:///work/ci_py311/plotly_1676841625489/work
pluggy @ file:///work/ci_py311/pluggy_1676822818071/work
ply==3.11
poyo @ file:///tmp/build/80754af9/poyo_1617751526755/work
prometheus-client @ file:///work/ci_py311_2/prometheus_client_1679340520168/work
prompt-toolkit @ file:///work/ci_py311/prompt-toolkit_1676824857154/work
Protego @ file:///tmp/build/80754af9/protego_1598657180827/work
protobuf==4.25.2
psutil @ file:///work/ci_py311_2/psutil_1679337388738/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo @ file:///Users/ktietz/demo/mc3/conda-bld/py-cpuinfo_1629480366017/work
pyarrow==11.0.0
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
pycocotools==2.0.7
pycodestyle @ file:///work/ci_py311/pycodestyle_1677708783451/work
pycosat @ file:///work/ci_py311/pycosat_1676838522308/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///work/ci_py311/pyct_1676838544646/work
pycurl @ file:///croot/pycurl_1686662440405/work
pydantic @ file:///croot/pydantic_1686125708906/work
PyDispatcher==2.0.5
pydocstyle @ file:///work/ci_py311/pydocstyle_1677708708066/work
pyerfa @ file:///work/ci_py311/pyerfa_1676838574038/work
pyflakes @ file:///work/ci_py311/pyflakes_1677708650266/work
Pygments @ file:///croot/pygments_1684279966437/work
PyJWT @ file:///work/ci_py311/pyjwt_1676827385359/work
PyLaTeX==1.4.2
pylint @ file:///work/ci_py311/pylint_1676920998643/work
pylint-venv @ file:///work/ci_py311/pylint-venv_1677706395472/work
pyls-spyder==0.4.0
pyodbc @ file:///work/ci_py311/pyodbc_1676860985304/work
pyOpenSSL @ file:///croot/pyopenssl_1690223430423/work
pyparsing @ file:///work/ci_py311/pyparsing_1677811559502/work
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyrsistent @ file:///work/ci_py311/pyrsistent_1676823088752/work
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest @ file:///croot/pytest_1690474690005/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-dotenv @ file:///work/ci_py311/python-dotenv_1676842320650/work
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
python-lsp-black @ file:///work/ci_py311/python-lsp-black_1676845562358/work
python-lsp-jsonrpc==1.0.0
python-lsp-server @ file:///croot/python-lsp-server_1681930392028/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-snappy @ file:///work/ci_py311/python-snappy_1676842365339/work
pytoolconfig @ file:///work/ci_py311/pytoolconfig_1677709006710/work
pytorch-pretrained-bert==0.6.2
pytz @ file:///croot/pytz_1695131579487/work
pyviz-comms @ file:///croot/pyviz_comms_1685030693726/work
PyWavelets @ file:///work/ci_py311/pywavelets_1676838693522/work
pyxdg @ file:///tmp/build/80754af9/pyxdg_1603822279816/work
PyYAML @ file:///work/ci_py311/pyyaml_1676827445582/work
pyzmq @ file:///work/ci_py311/pyzmq_1676918885689/work
QDarkStyle @ file:///tmp/build/80754af9/qdarkstyle_1617386714626/work
qstylizer @ file:///work/ci_py311/qstylizer_1677706154568/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl
QtAwesome @ file:///work/ci_py311/qtawesome_1677705159328/work
qtconsole @ file:///croot/qtconsole_1681394213385/work
QtPy @ file:///work/ci_py311/qtpy_1676827467989/work
queuelib==1.5.0
regex @ file:///work/ci_py311/regex_1677086824242/work
requests @ file:///croot/requests_1690400202158/work
requests-file @ file:///Users/ktietz/demo/mc3/conda-bld/requests-file_1629455781986/work
requests-toolbelt @ file:///croot/requests-toolbelt_1690874004362/work
responses @ file:///tmp/build/80754af9/responses_1619800270522/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rope @ file:///work/ci_py311/rope_1677708536193/work
Rtree @ file:///work/ci_py311/rtree_1676845693189/work
ruamel-yaml-conda @ file:///work/ci_py311/ruamel_yaml_1676845707897/work
ruamel.yaml @ file:///work/ci_py311/ruamel.yaml_1676838772170/work
s3fs @ file:///croot/s3fs_1682551471189/work
s3transfer==0.12.0
safetensors @ file:///croot/safetensors_1692949033383/work
scikit-image @ file:///croot/scikit-image_1682528309703/work
scikit-learn @ file:///croot/scikit-learn_1690978916802/work
scikit-learn-intelex==20230426.111612
scipy @ file:///croot/scipy_1691606680890/work/dist/scipy-1.11.1-cp311-cp311-linux_x86_64.whl#sha256=ba491c7d30a02bb93027e90b0aa58c0fe8d1e0fc3ddfe3469178740bd150aa45
Scrapy @ file:///work/ci_py311/scrapy_1677770267574/work
seaborn @ file:///work/ci_py311/seaborn_1676845747354/work
SecretStorage @ file:///work/ci_py311_2/secretstorage_1679339060489/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
service-identity @ file:///Users/ktietz/demo/mc3/conda-bld/service_identity_1629460757137/work
shapely==2.0.3
shutilwhich==1.1.0
sip @ file:///work/ci_py311/sip_1676825117084/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///work/ci_py311/smart_open_1676842848397/work
sniffio @ file:///work/ci_py311/sniffio_1676823742530/work
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve @ file:///croot/soupsieve_1680518478486/work
Sphinx @ file:///work/ci_py311/sphinx_1676842864059/work
sphinxcontrib-applehelp @ file:///home/ktietz/src/ci/sphinxcontrib-applehelp_1611920841464/work
sphinxcontrib-devhelp @ file:///home/ktietz/src/ci/sphinxcontrib-devhelp_1611920923094/work
sphinxcontrib-htmlhelp @ file:///tmp/build/80754af9/sphinxcontrib-htmlhelp_1623945626792/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///home/ktietz/src/ci/sphinxcontrib-qthelp_1611921055322/work
sphinxcontrib-serializinghtml @ file:///tmp/build/80754af9/sphinxcontrib-serializinghtml_1624451540180/work
spyder @ file:///croot/spyder_1681934064788/work
spyder-kernels @ file:///croot/spyder-kernels_1691599531749/work
SQLAlchemy @ file:///work/ci_py311/sqlalchemy_1676827498678/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
statsmodels @ file:///croot/statsmodels_1689937266057/work
sympy @ file:///work/ci_py311_2/sympy_1679339311852/work
tables @ file:///croot/pytables_1691621466859/work
tabulate @ file:///work/ci_py311/tabulate_1676838830728/work
tb-nightly==2.16.0a20240112
TBB==0.2
tblib @ file:///Users/ktietz/demo/mc3/conda-bld/tblib_1629402031467/work
tempdir==0.7.1
tenacity @ file:///croot/tenacity_1682972284834/work
tensorboard-data-server==0.7.2
terminado @ file:///work/ci_py311/terminado_1677696151350/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///tmp/build/80754af9/textdistance_1612461398012/work
tf_keras-nightly==2.16.0.dev2024011210
thop==0.1.1.post2209072238
threadpoolctl @ file:///Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///croot/tifffile_1695107451082/work
tikzplotlib==0.10.1
timm==1.0.20
tinycss2 @ file:///work/ci_py311/tinycss2_1676823757641/work
tldextract @ file:///opt/conda/conda-bld/tldextract_1646638314385/work
tokenizers @ file:///croot/tokenizers_1687191909486/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomlkit @ file:///work/ci_py311/tomlkit_1676823218885/work
toolz @ file:///work/ci_py311/toolz_1676827522705/work
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
tornado @ file:///croot/tornado_1690848263220/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///work/ci_py311/traitlets_1676823305040/work
transformers @ file:///croot/transformers_1693308319445/work
triton==2.1.0
Twisted @ file:///croot/twisted_1683796889247/work
typing_extensions @ file:///croot/typing_extensions_1690297465030/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
uc-micro-py @ file:///work/ci_py311/uc-micro-py_1676828889155/work
ujson @ file:///work/ci_py311/ujson_1676828903327/work
Unidecode @ file:///tmp/build/80754af9/unidecode_1614712377438/work
urllib3 @ file:///croot/urllib3_1686163155763/work
visdom==0.2.4
vot-toolkit==0.5.3
vot-trax==3.0.3
w3lib @ file:///Users/ktietz/demo/mc3/conda-bld/w3lib_1629359764703/work
watchdog @ file:///work/ci_py311/watchdog_1676846191736/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==1.13
webencodings==0.5.1
websocket-client @ file:///work/ci_py311/websocket-client_1676824890004/work
Werkzeug @ file:///croot/werkzeug_1679489717957/work
wget==3.2
whatthepatch @ file:///work/ci_py311/whatthepatch_1677708379946/work
widgetsnbextension @ file:///croot/widgetsnbextension_1679313860248/work
wrapt @ file:///work/ci_py311/wrapt_1676827586170/work
wurlitzer @ file:///work/ci_py311/wurlitzer_1676843053614/work
xarray @ file:///croot/xarray_1689041471350/work
xxhash @ file:///work/ci_py311/python-xxhash_1676842384694/work
xyzservices @ file:///work/ci_py311/xyzservices_1676828923127/work
y-py @ file:///croot/y-py_1683555143488/work
yacs==0.1.8
yapf @ file:///tmp/build/80754af9/yapf_1615749224965/work
yarl @ file:///work/ci_py311/yarl_1676827604591/work
ypy-websocket @ file:///croot/ypy-websocket_1684171737040/work
zict @ file:///croot/zict_1682698729376/work
zipp @ file:///work/ci_py311/zipp_1676822894295/work
zope.interface @ file:///work/ci_py311/zope.interface_1676905896080/work
zstandard @ file:///work/ci_py311_2/zstandard_1679339489613/work
