absl-py==2.1.0
addict==2.4.0
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.0
async-timeout==4.0.3
attrs==23.1.0
Automat==24.8.1
beautifulsoup4==4.12.3
blinker==1.7.0
Bottleneck @ file:///croot/bottleneck_1707864210935/work
buildtools==1.0.6
causal-conv1d @ file:///home/ad/code/VisTrack/causal_conv1d-1.1.3%2Bcu118torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=1dedc3b77701a7dd9dd7027d1f53605b55ca8a836669d28b35b489ab772aeacb
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
constantly==23.10.4
contourpy @ file:///croot/contourpy_1700583582875/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
Cython @ file:///croot/cython_1727769790504/work
databricks-cli==0.18.0
datasets==2.15.0
dill==0.3.7
docker==6.1.3
docopt==0.6.2
easydict==1.13
einops==0.7.0
entrypoints==0.4
filelock==3.13.1
Flask==3.0.0
fonttools==4.46.0
frozenlist==1.4.0
fsspec==2023.10.0
furl==2.1.3
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.40
greenlet==3.0.2
grpcio==1.67.1
gunicorn==21.2.0
huggingface-hub==0.19.4
hyperlink==21.0.0
idna==3.6
imageio==2.36.0
importlib-metadata==7.0.0
incremental==24.7.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jpeg4py==0.1.4
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
lazy_loader==0.4
lmdb==1.5.1
lvis==0.5.3
Mako==1.3.0
mamba-ssm @ file:///home/ad/code/VisTrack/mamba_ssm-1.1.1%2Bcu118torch2.1cxx11abiFALSE-cp310-cp310-linux_x86_64.whl#sha256=fb6a28285cc11a1bf7507b452903285a16ba36aec5f82f71e14223c83c4d484f
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.2
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
mlflow==2.9.1
mmcv==1.3.8
mmsegmentation==0.14.1
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
networkx==3.2.1
ninja==1.11.1.1
numexpr @ file:///croot/numexpr_1730215937391/work
numpy==1.26.2
oauthlib==3.2.2
opencv-python==4.10.0.84
orderedmultidict==1.0.1
packaging==23.2
pandas==2.1.3
Pillow==10.1.0
platformdirs==4.1.0
ply==3.11
prettytable==3.9.0
protobuf==4.25.1
pyarrow==14.0.1
pyarrow-hotfix==0.6
pycocotools==2.0.8
pycparser==2.22
PyJWT==2.8.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
PySocks==1.7.1
python-dateutil==2.8.2
python-hostlist==1.23.0
pytz==2023.3.post1
PyYAML==6.0.1
querystring-parser==1.2.4
redo==3.0.0
regex==2023.10.3
requests==2.31.0
safetensors==0.4.1
scikit-image==0.24.0
scikit-learn==1.3.2
scipy==1.11.4
shapely==2.0.7
shiboken6==6.8.0.2
simplejson==3.19.3
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smmap==5.0.1
soupsieve==2.6
SQLAlchemy==2.0.23
sqlparse==0.4.4
sympy==1.12
tabulate==0.9.0
tb-nightly==2.19.0a20241108
tensorboard-data-server==0.7.2
thop==0.1.1.post2209072238
threadpoolctl==3.2.0
tifffile==2024.9.20
tikzplotlib==0.10.1
timm==0.4.12
tokenizers==0.15.0
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
torch==2.1.1+cu118
torchaudio==2.1.1+cu118
torchvision==0.16.1+cu118
tornado @ file:///croot/tornado_1718740109488/work
tqdm==4.66.1
transformers==4.35.2
triton==2.1.0
Twisted==24.10.0
typing_extensions==4.8.0
tzdata @ file:///croot/python-tzdata_1690578112552/work
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
urllib3==2.1.0
visdom==0.2.4
wcwidth==0.2.12
webcolors==24.8.0
websocket-client==1.7.0
Werkzeug==3.0.1
wget==3.2
xxhash==3.4.1
yapf==0.40.2
yarl==1.9.4
zipp==3.17.0
zope.interface==7.1.1
